## <u> Use only those concepts which have been taught till now </u>

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [ ]:
# Your code here
import pandas as pd
import numpy as np
import ast

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
imdb_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/AlmaBetter/Module1/Data Wrangling/Lecture Materials/dat/imdb_data.csv')
imdb_df.head(2)

imdb_df['profit'] = imdb_df.revenue = imdb_df.budget
imdb_df['profit'].replace([np.inf, -np.inf], 0, inplace = True)
pd.options.display.float_format = '{:.4f}'.format
imdb_df.profit

imdb_df['new_cast'] = imdb_df.cast.fillna('[]').apply(ast.literal_eval)
imdb_df['new_genre'] = imdb_df.genres.fillna('[]').apply(ast.literal_eval)

imdb_df['new_cast'] = imdb_df.new_cast.apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else[])
imdb_df['new_genre'] = imdb_df.new_genre.apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else[])
imdb_df.head(2)

new_df = imdb_df.explode('new_cast')
top_actors = pd.DataFrame(new_df.new_cast.value_counts()).reset_index()
top_actors.columns = ['Actors', 'Number Of Movies']
top_actors.head(3)

              Actors  Number Of Movies
0     Robert De Niro                30
1  Samuel L. Jackson                30
2     Morgan Freeman                27

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [ ]:
# Your code here 
def find_directors(li):
  job_iterator = 0
  if type(li) != float:
    li = ast.literal_eval(li)
    while True:
      if li[job_iterator]['job'] != 'Director':
        job_iterator += 1
      else:
        return li[job_iterator]['name']

imdb_df['directors_name'] = imdb_df.apply(lambda x: find_directors(x['crew']),axis=1)
grouped_pop = imdb_df.groupby('directors_name')['popularity'].mean().sort_values(ascending = False).reset_index()
grouped_pop.head(3)

  directors_name  popularity
0     Tim Miller    187.8605
1     James Gunn    119.3113
2   Edgar Wright    118.9316

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
# Your code here
def get_producers_and_directors(string_rep_of_crew_list):
  try:
    crew_list = literal_eval(string_rep_of_crew_list)
    producer_list = []
    director_list = []
    for elem in crew_list:
      if elem['job'] == 'Producer':
        producer_list.append(elem['name'])
      if elem['job'] == 'Director':
        director_list.append(elem['name'])
    return producer_list, director_list
  except:
    return[],[]

get_producers_and_directors(imdb_df_no_na_crew.loc[1,'crew'])

NameError: ignored